.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 32rem;
  margin: 0 auto;
}
.container > h1 {
  color: var(--text-title-color);
  margin-top: -5px;
}
.container > h2 {
  align-self: flex-start;
  margin: 4rem 0 1.125rem;
}
.container > p {
  align-self: flex-start;
  text-align: justify;
  width: 100%;
}
.container .placeholder {
  color: var(--text-user-color);
  user-select: none;
}

#form {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 3rem;
  grid-template-areas: "input button";
  grid-gap: 0.75rem;
  width: 100%;
}
#form > input {
  all: unset;
  grid-area: input;
  height: 3rem;
  color: var(--text-color);
  background-color: var(--bg-input-color);
  border-radius: 5px;
  padding: 0 0.75rem;
  font-size: 1rem;

  transition: all 1s;
}
#form > input:focus {
  outline: 2px solid var(--outline-input-color);
}
#form > input:valid {
  background-color: var(--bg-input-color);
}
#form > button {
  grid-area: button;
  justify-self: end;
  height: 3rem;
  width: 3rem;
  border: none;
  border-radius: 5px;
  background-color: var(--bg-button-color);

  cursor: pointer;

  transition: background-color 0.2s;
}
#form button:hover {
  background-color: var(--bg-button-color-hover);
}
#form button > svg {
  font-size: 1.5rem;
  color: var(--text-color);
}
@media (max-width: 552px) {
  .container {
    margin: 0 1rem;
  }
}
@media (max-width: 280px) {
  .container {
    margin: 0;
  }
}
